
/* 打字机效果渐变*/
header {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao1.png'), default;
}
a:hover {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao2.png'), pointer;
}
a:active {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao1.png'), move;
}

body {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao1.png'), default;
}
a:hover {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao2.png'), pointer;
}
a:active {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao1.png'), move;
}

.footer-inner {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao1.png'), default;
}
a:hover {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao2.png'), pointer;
}
a:active {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao1.png'), move;
}

.mask.flex-center {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao1.png'), default;
}
a:hover {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao2.png'), pointer;
}
a:active {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao1.png'), move;
}

#subtitle {
    background: linear-gradient(15deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 25s ease infinite;
    -moz-animation: Gradient 25s ease infinite;
    animation: Gradient 25s ease infinite;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#subtitle:before {
    background-color: rgba(0, 0, 0, 0);
}

.reprint {
    margin: 15px 0 0.4rem;
    padding: 0.5rem 0.8rem;
    border: 1px solid #eee;
    line-height: 2;
    border-left: 3px solid #ff2a2a;
    transition: box-shadow 0.3s ease-in-out;
    background-color: rgba(27,31,35,0.05);
}



@keyframes slide {
  0% {
    transform: translateX(30%);
    opacity: 0;
  }
  50% {
    transform: translateX(-10%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.index-img, .index-info {
  animation: 2s slide ease 1;
}