header {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao1.png'), default;
}
a:hover {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao2.png'), pointer;
}
a:active {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao1.png'), move;
}

body {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao1.png'), default;
}
a:hover {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao2.png'), pointer;
}
a:active {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao1.png'), move;
}

.footer-inner {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao1.png'), default;
}
a:hover {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao2.png'), pointer;
}
a:active {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao1.png'), move;
}

.mask.flex-center {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao1.png'), default;
}
a:hover {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao2.png'), pointer;
}
a:active {
    cursor: url('https://cdn.jsdelivr.net/gh/bin862324915/bin862324915.github.io@master/img/shubiao1.png'), move;
}

#subtitle {
    background: linear-gradient(125deg, #C6FF1A, #FFFF66, #4D70FF, #4DFF4D);
    background-size: 400% 400%;
    -webkit-animation: Gradient 25s ease infinite;
    -moz-animation: Gradient 25s ease infinite;
    animation: Gradient 25s ease infinite;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#subtitle:before {
    background-color: rgba(0, 0, 0, 0);
}

.reprint {
    margin: 15px 0 0.4rem;
    padding: 0.5rem 0.8rem;
    border: 1px solid #eee;
    line-height: 2;
    border-left: 3px solid #ff2a2a;
    transition: box-shadow 0.3s ease-in-out;
    background-color: rgba(27,31,35,0.05);
}

@-webkit-keyframes bounce {

  0%,
  100% {
    -webkit-transform: scale(0.0);
  }

  50% {
    -webkit-transform: scale(1.0);
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }

  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@keyframes slow-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sakura-svg {
animation: slow-rotate 5s linear infinite;
} 

.tea {
    font-size: 0.8125em;
    color: #999999;
    margin-top: 10px;
}

.reward-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.reward-btn {
    padding: 8px 24px;
    font-size: 18px;
    background-color: #1086Cf;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.reward-img-container {
    display: none;
    margin-top: 20px;
    /* 图片容器的透明度 */
    opacity: 0;
    /* 过渡效果,使动画更平滑 */
    transition: opacity 2s ease;
}

.reward-img {
    width: 200px;
    margin: 10px;
    border: 1px dashed #ccc;
    border-radius: 4px;
    padding: 10px;
}

/* 单个图片的容器 */
.singleImgContainer {
    width: 50%;
    height: 240px;
}

/* 微信支付和支付宝支付的文字样式 */
.wechatPay,.aliPay {
	text-align: center;
    font-size: 0.8125em;
    color: #999999;
}

#veditor {
    background-image: url(https://cdn.jsdelivr.net/gh/drew233/cdn/20200409110727.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgba(255, 255, 255, 0);
    resize: vertical
}

#veditor:focus{
    background-position-y: 200px;
    transition: all 0.2s ease-in-out 0s;
}

img.vimg {
     transition: all 1s
}

img.vimg:hover {
     transform: rotate(360deg);
     -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
     -o-transform: rotate(360deg);
     -ms-transform: rotate(360deg);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #e58a8a;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #e58a8a;
}